<%	if	logged_in?	%>
		<h2>Moje	kursy</h2>
		<%	current_student.courses.each	do	|course|	%>
				<h3><%=	course.name	%></h3>
				<%	course.topics.each	do	|topic|	%>
						<h4><%=	topic.title	%>	by	<%=	topic.student.name	%></h4>
						<%	topic.posts.each	do	|post|	%>
								<p>
										<%=	post.body	%>
								</p>
								<h6>by	<%=	post.student.name	%></h6>
						<%	end	%>
				<%	end	%>
		<%	end	%>
<%	else	%>
		Nie	jesteś	zalogowany.
<%	end	%>
<h1>Projekt Aplikacje_mobilne</h1>
	<p>
		Lista studentów istniejących w bazie:
	</p>
<ul>
	<%	@students.each	do	|student|	%>
		<%=	link_to	student	do	%>
				<li><%=	student.name	%>	<%=	student.index	%></li>
		<%	end	%>
	<%	end	%>
</ul>
