<%= form_for(@topict) do |f| %>
  <% if @topict.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topict.errors.count, "error") %> prohibited this topict from being saved:</h2>

      <ul>
      <% @topict.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :itle %><br>
    <%= f.text_field :itle %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
